@import url(mobile.css) screen and (max-width: 700px);
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

header {
  padding-top: 10px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  color: white; }
  header .logo {
    font-size: 14px;
    opacity: 0.9; }
    header .logo .logo1 {
      font-size: 17px;
      letter-spacing: 1px; }
  header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; }
    header ul li {
      display: none;
      opacity: 0.9;
      font-size: 12px;
      margin-right: 15px; }
      header ul li span {
        background-color: #f70;
        padding: 18px;
        letter-spacing: 2px; }
  header .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f70;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 24px;
    border-radius: 100px; }
  header .menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(50, 50, 50, 0.95); }
  header .menu__item {
    width: 100%;
    height: auto;
    padding: 50px 0 0 0;
    margin-left: 30px;
    text-align: left;
    font-size: 6vw;
    color: #fff;
    box-sizing: border-box; }
    header .menu__item a {
      text-decoration: none;
      color: #fff; }
  header .menu {
    transform: translateX(100vw);
    transition: all .3s linear; }
  header .menu.is-active {
    transform: translateX(0); }

.sc1 {
  height: 440px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/sc1-1.jpg);
  background-size: cover;
  background-position: center; }

.sc1-con {
  height: 320px;
  display: flex;
  align-items: center; }

.sc1-contx {
  margin: 0 auto; }
  .sc1-contx h1 {
    font-size: 11vw;
    color: white;
    margin: 0 auto;
    letter-spacing: 2px;
    opacity: 0.9;
    text-align: center; }
  .sc1-contx p {
    font-size: 12px;
    color: white;
    text-align: center;
    opacity: 0.6;
    padding-top: 12px; }
    .sc1-contx p span {
      display: none; }

.sc2 {
  background-color: #f70;
  padding: 40px 20px 80px; }
  .sc2 .sc2-con {
    display: block;
    width: 100%;
    height: auto; }
    .sc2 .sc2-con .sc2-contx h2 {
      width: 100%;
      font-size: 11vw;
      margin: 0; }
    .sc2 .sc2-con .sc2-contx .sc2-contx2 {
      display: flex; }
      .sc2 .sc2-con .sc2-contx .sc2-contx2 img {
        width: 44px;
        height: 16px;
        margin: 0 0 0 8px; }
      .sc2 .sc2-con .sc2-contx .sc2-contx2 .sc2-contx3 {
        padding-left: 8px; }
        .sc2 .sc2-con .sc2-contx .sc2-contx2 .sc2-contx3 p {
          display: inline-block;
          width: 100%;
          height: 100px;
          font-size: 14px;
          margin-top: 0;
          margin-bottom: 16px; }
          .sc2 .sc2-con .sc2-contx .sc2-contx2 .sc2-contx3 p .mobile {
            display: inline;
            font-size: 20px;
            font-weight: bold; }
          .sc2 .sc2-con .sc2-contx .sc2-contx2 .sc2-contx3 p .desk {
            display: none; }
  .sc2 img {
    width: 100%;
    display: block;
    margin-top: 4px;
    object-fit: cover; }
  .sc2 .sc2-contx4 {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px; }
    .sc2 .sc2-contx4 span {
      display: inline; }
      .sc2 .sc2-contx4 span a {
        text-decoration: none;
        display: inline-block;
        width: 50%;
        text-align: center;
        margin: 15px 0 0 50%;
        background-color: #141414;
        color: white;
        padding: 10px 0; }

.sc3 {
  text-align: center; }
  .sc3 h2 {
    font-size: 44px;
    margin: 60px 0 12px 0; }
  .sc3 p {
    font-size: 16px;
    margin: 0 0 40px 0; }
  .sc3 .sc3-cons {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template: "... ....... ... ....... ..." auto "... item1-1 ... item1-2 ..." 1fr "... ....... ... ....... ..." 70px "... item1-3 ... item1-4 ..." 1fr "... ....... ... ....... ..." 70px "... item1-5 ... item1-6 ..." 1fr "... ....... ... ....... ..." 70px / auto 1fr 50px 1fr auto; }
    .sc3 .sc3-cons .sc3-con1 {
      grid-area: item1-1; }
    .sc3 .sc3-cons .sc3-con2 {
      grid-area: item1-2; }
    .sc3 .sc3-cons .sc3-con3 {
      grid-area: item1-3; }
    .sc3 .sc3-cons .sc3-con4 {
      grid-area: item1-4; }
    .sc3 .sc3-cons .sc3-con5 {
      grid-area: item1-5; }
    .sc3 .sc3-cons .sc3-con6 {
      grid-area: item1-6; }
    .sc3 .sc3-cons img {
      width: 145px;
      margin-left: 10px; }
    .sc3 .sc3-cons h3 {
      display: block;
      text-align: left;
      width: 140px;
      margin: 0 auto;
      padding: 24px 0 20px 0;
      font-size: 13px; }
    .sc3 .sc3-cons p {
      display: block;
      text-align: left;
      font-size: 11px;
      width: 140px;
      margin: 0 auto;
      line-height: 24px; }

.sc4 {
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/sc4-1.jpg);
  background-size: cover;
  background-position: center;
  padding: 60px 0; }
  .sc4 p {
    color: white;
    text-align: left;
    margin: 0 20px;
    opacity: 0.9; }
  .sc4 .sc4-form a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 40px auto 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 308px;
    height: 88px;
    background-color: #f70; }
  .sc4 .sc4-form span {
    font-size: 30px;
    position: relative;
    bottom: 4px;
    right: 12px; }
  .sc4 .etc {
    width: 100%;
    color: white;
    display: block;
    text-align: center; }
    .sc4 .etc a {
      text-decoration: none;
      color: white;
      text-decoration-line: underline; }
      .sc4 .etc a :hover {
        cursor: pointer; }

.sc5 {
  background-color: #f70; }
  .sc5 h2 {
    margin: 0;
    font-size: 40px;
    padding: 60px 0 0 30px; }
    .sc5 h2 span {
      display: inline;
      font-size: 18px;
      font-weight: normal; }
  .sc5 .sc5-cons {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template: "... ....... ..." 20px "... item2-1 ..." 184px "... ....... ..." 20px "... item2-2 ..." 184px "... ....... ..." 20px "... item2-3 ..." 184px "... ....... ..." 20px "... item2-4 ..." 184px "... ....... ..." 70px / auto 320px auto; }
    .sc5 .sc5-cons .sc5-con1 {
      grid-area: item2-1; }
    .sc5 .sc5-cons .sc5-con2 {
      grid-area: item2-2; }
    .sc5 .sc5-cons .sc5-con3 {
      grid-area: item2-3; }
    .sc5 .sc5-cons .sc5-con4 {
      grid-area: item2-4; }
    .sc5 .sc5-cons .sc5-deco {
      display: flex; }
      .sc5 .sc5-cons .sc5-deco img {
        width: 40px;
        height: 16px;
        transform: scale(1, -1);
        position: relative;
        top: 30px; }
      .sc5 .sc5-cons .sc5-deco h4 {
        letter-spacing: 1px; }
    .sc5 .sc5-cons .sc5-contx {
      display: flex; }
      .sc5 .sc5-cons .sc5-contx img {
        width: 120px;
        height: 120px;
        object-fit: cover; }
      .sc5 .sc5-cons .sc5-contx p {
        width: 200px;
        height: 120px;
        font-size: 13px;
        letter-spacing: 2px;
        margin: 0;
        padding-left: 20px; }

footer {
  height: 80px;
  background: rgba(10, 10, 10, 0.9); }
  footer .mobilefoot {
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 14px; }
  footer .logo1 {
    display: none; }
  footer .logo2 {
    display: none; }
  footer ul {
    display: none; }

/*# sourceMappingURL=mobile.css.map */
